{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div style="background-image: url('static/img/placeholder.jpg')" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
            <h2 class="display-5 text-white">James Webb Space Telescope Finds Oldest Galaxy</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="btn btn-outline-primary"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
</div>
    {% for post in posts.items %}
    <article class="media content-section">
        <div class="d-flex">
        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="profile picture" class="rounded-circle article-image"}}>
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <h2><a class="article-title" href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </div>
    </article> 
    {% endfor %}
    {% for page_number in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
        {% if page_number  %}
            {% if posts.page == page_number  %}
                <a class="btn btn-info mb-5" href="{{ url_for('home', page=page_number) }}">{{ page_number }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-5" href="{{ url_for('home', page=page_number) }}">{{ page_number }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
