{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-group mb-1">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-check mb-2">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="form-group mb-2">
                    {{ form.submit(class ="btn btn-primary") }}
                </div> 
                <small class="text-muted ml-3">
                    <a href="#">Reset Your Password</a>
                </small>
            </fieldset>
        </form> 
    </div>
    <div class="border-top pt-1">
        <small class="text-muted">
            Need to Sign Up? <a class="ml-3" href="{{ url_for('register') }}">Register</a>
        </small>

    </div>
{% endblock content %}
